@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.5px #FFEBD6;
  }
  .font-outline-2-b {
    -webkit-text-stroke: 0.5px #473429;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-stroke-3 {
  text-shadow: -1px -1px 0 rgb(173, 37, 37), 1px -1px 0 rgb(151, 24, 24), -1px 1px 0 rgb(116, 8, 8), 1rgb(145, 12, 12)x 0 rgb(219, 5, 5);
}